* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: system-ui, sans-serif;
    margin: 0;
}


nav {
    background-color: white;
    padding: 8px 16px;
    /* Step 1.0 */
    display: flex;
    /* Step 1.2 */
    justify-content: space-between;
}




p {
    margin: 0;
}

section {
    height: 460px;
    background-color: black;
    color: white;
    padding: 24px 72px;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: 32px;
}

h2 {
    font-size: 16px;
    margin-bottom: 0;
}

input {
    height: 58px;
    width: 80%;
    max-width: 600px;
    border-radius: 29px;
    border: 0px;
    padding: 0 24px;
}

main {

    background-color: white;
    /* background-color: red; */
    padding: 32px 72px;
    /* Step 4.0 */
    display: flex;
     /* Step 4.1 */
    flex-wrap: wrap;
     /* Step 4.2 */
     gap: 1rem;
     /* Step 4.3 */
    justify-content: flex-start;
}

nav button {
    background-color: #ea4c89;
    border-radius: 8px;
    padding: 10px 16px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
}

.img-placeholder {
    width: 355px;
    height: 270px;
    background-color: gray;
    border-radius: 8px;
}



.card-footer {
    font-size: 14px;
    /* Step 5.0 */
    display: flex;
    /* Step 5.1 */
    justify-content: space-between;
}

.card-footer * {
    margin-top: 8px;
}





#subnav {
    padding: 32px 72px 0;
    background-color: white;
    /* Step 3.0 */
    display: flex;
    /* Step 3.1 */
    justify-content: space-between;
}

#subnav button {
    border-radius: 8px;
    padding: 10px 16px;
    border: 1px solid black;
    background-color: white;
}

#trending p {
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 6px 15px;
}


/* Step 1.1 Have to create below cs */
#destinations {
    display: flex;
    /* background-color: red; */
    /* Step 1.3 */
    align-items: center;
    /* Step 1.4 looks like you added a gap */
    gap: 1rem;
}
#actions {
    display: flex;
    /* background-color: blue; */
    /* Step 1.5 */
    align-items: center;
    /* Step 1.6 looks like you added a gap */
    gap: 1rem;
}

/* Step 2.0 */


#hero {
    /* background-color: red; */
    /* Step 2.1 */
    display: flex;
    /* Step 2.2 */
    flex-direction: column;
    /* Step 2.7 */
    align-items: center;
    /* Step 2.8 */
    justify-content: space-around;
}
/*Step 2.3 */
#trending {
    /* Step 2.4 */
    display: flex;
    /* background-color: green; */
    /* Step 2.5 */
    gap: 1rem;
    /* Step 2.6 */
    align-items: center;
}


